<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>代码生成</title>
    <head th:include="layout/common::head"></head>
</head>
<body>
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <!-- 表格工具栏 -->
            <form class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">数据表名称:</label>
                        <div class="layui-input-inline">
                            <input name="tableName" class="layui-input" placeholder="输入数据表名称"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">数据库:</label>
                        <div class="layui-input-inline">
                            <select name="datasource" lay-filter="datasource">
                                <option value="">请选择数据库</option>
                                <th:block th:each="source:${DataSource}">
                                    <option th:value="${source}" th:text="${source}"></option>
                                </th:block>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">&emsp;
                        <button class="layui-btn icon-btn" lay-filter="generateSearch" lay-submit>
                            <i class="layui-icon">&#xe615;</i>搜索
                        </button>
                    </div>
                </div>
            </form>
            <!-- 数据表格 -->
            <table id="generateTable" lay-filter="generateTable"></table>
        </div>
    </div>
</div>

<!-- 表格工具栏 -->
<script type="text/html" id="generateToolBar">
    <a lay-event="generate" class="layui-btn layui-btn-sm icon-btn">
        <i class="layui-icon">&#xe674;</i>生成
    </a>
</script>
<body th:include="layout/common::javascript"></body>
<script type="text/javascript" data-th-inline="none">
    layui.use(['layer', 'form', 'table', 'admin', 'util'], function () {
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var admin = layui.admin;
        var params = {
            datasource: '',
            module: '',
            tableNames: ''
        };

        /* 渲染表格 */
        var insTb = table.render({
            elem: '#generateTable',
            url: '/generator/table/page',
            page: true,
            toolbar: '#generateToolBar',
            cellMinWidth: 100,
            cols: [[
                {type: 'checkbox'},
                {type: 'numbers'},
                {field: 'name', title: '名称'},
                {field: 'remark', title: '备注'},
                {field: 'dataRows', title: '数据行数', sort: true},
                {
                    title: '更新时间',
                    templet: '<p>{{layui.util.toDateString(d.updateTime)}}</p>',
                    sort: true
                },
                {
                    title: '创建时间',
                    templet: '<p>{{layui.util.toDateString(d.createTime)}}</p>',
                    sort: true
                }
            ]]
        });

        /* 表格头工具栏点击事件 */
        table.on('toolbar(generateTable)', function (obj) {
            if (obj.event === 'generate') {
                var checkRows = table.checkStatus('generateTable'),
                    data = checkRows.data;
                if (data.length === 0) {
                    layer.msg('请选择要生成的数据表', {icon: 2});
                    return;
                }
                params.tableNames = data.map(function (d) {
                    return d.name;
                }).join(',');

                layui.admin.prompt({
                    title: '请输入模块名称：'
                }, function (value, index, elem) {
                    params.module = value;
                    admin.ajax({
                        url: '/generator/generate',
                        type: 'POST',
                        data: params,
                        success: function (res) {
                            if (res.code === 200) {
                                layer.msg(res.msg, {icon: 1});
                                layer.close(index);
                            } else {
                                layer.msg(res.msg, {icon: 2});
                            }
                        }
                    });
                });
            }
        });

        /* 监听下拉选项 */
        form.on('select(datasource)', function (data) {
            params.datasource = data.value;
            insTb.reload({where: params, page: {curr: 1}});
            return false;
        });

        /* 表格搜索 */
        form.on('submit(generateSearch)', function (data) {
            insTb.reload({where: data.field, page: {curr: 1}});
            return false;
        });
    });
</script>
</body>
</html>