<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>任务调度</title>
    <head th:include="layout/common::head"></head>
</head>
<body>
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief" lay-filter="tableTab">
            <ul class="layui-tab-title">
                <li class="layui-this">定时任务</li>
                <li>调度日志</li>
            </ul>
            <div class="layui-tab-content">
                <!-- Tab1 -->
                <div class="layui-tab-item layui-show">
                    <div class="layui-card-body">
                        <!-- 表格工具栏 -->
                        <form class="layui-form toolbar" autocomplete="off">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">Bean 名称:</label>
                                    <div class="layui-input-inline">
                                        <input name="beanName" class="layui-input" placeholder="输入Bean名称"/>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">方法名称:</label>
                                    <div class="layui-input-inline">
                                        <input name="methodName" class="layui-input" placeholder="输入方法名称"/>
                                    </div>
                                </div>
                                <div class="layui-inline">&emsp;
                                    <button class="layui-btn icon-btn" lay-filter="jobSearch" lay-submit>
                                        <i class="layui-icon">&#xe615;</i>搜索
                                    </button>
                                </div>
                            </div>
                        </form>
                        <!-- 数据表格 -->
                        <table id="jobTable" lay-filter="jobTable"></table>
                    </div>
                </div>
                <!-- Tab2 -->
                <div class="layui-tab-item">
                    <div class="layui-card-body">
                        <!-- 表格工具栏 -->
                        <form class="layui-form toolbar" autocomplete="off">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">Bean 名称:</label>
                                    <div class="layui-input-inline">
                                        <input name="beanName" class="layui-input" placeholder="输入Bean名称"/>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">方法名称:</label>
                                    <div class="layui-input-inline">
                                        <input name="methodName" class="layui-input" placeholder="输入方法名称"/>
                                    </div>
                                </div>
                                <div class="layui-inline">&emsp;
                                    <button class="layui-btn icon-btn" lay-filter="jobLogSearch" lay-submit>
                                        <i class="layui-icon">&#xe615;</i>搜索
                                    </button>
                                </div>
                            </div>
                        </form>
                        <!-- 数据表格 -->
                        <table id="jobLogTable" lay-filter="jobLogTable"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 表格操作列 -->
<script type="text/html" id="jobTool">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    <a class="layui-btn layui-btn-xs" data-dropdown="#jobDrop{{d.LAY_INDEX}}" no-shade="true">
        更多<i class="layui-icon layui-icon-drop" style="font-size: 12px;margin-right: 0;"></i>
    </a>
    <!-- 下拉菜单 -->
    <ul class="dropdown-menu-nav dropdown-bottom-right layui-hide" id="jobDrop{{d.LAY_INDEX}}">
        <div class="dropdown-anchor"></div>
        <li><a lay-event="run">执行任务</a></li>
        <li><a lay-event="pause">暂停任务</a></li>
        <li><a lay-event="resume">恢复任务</a></li>
    </ul>
</script>
<!-- 表格工具栏 -->
<script type="text/html" id="jobToolBar">
    <button lay-event="add" class="layui-btn layui-btn-sm icon-btn">
        <i class="layui-icon">&#xe654;</i>添加
    </button>
</script>
<!-- 表单弹窗 -->
<script type="text/html" id="jobEditDialog">
    <form id="job-edit-form" lay-filter="jobEditForm" class="layui-form model-form">
        <input name="jobId" type="hidden"/>
        <input name="status" type="hidden"/>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">Bean名称:</label>
            <div class="layui-input-block">
                <input name="beanName" placeholder="请输入Bean名称" class="layui-input"
                       lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">方法名称:</label>
            <div class="layui-input-block">
                <input name="methodName" placeholder="请输入方法名称" class="layui-input"
                       lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">方法参数:</label>
            <div class="layui-input-block">
                <input name="params" placeholder="请输入方法参数" class="layui-input"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">Cron表达式:</label>
            <div class="layui-input-block">
                <input name="cronExpression" placeholder="请输入Cron表达式" class="layui-input"
                       lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">任务备注:</label>
            <div class="layui-input-block">
                <textarea name="remark" placeholder="请输入任务备注" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item text-right">
            <button class="layui-btn" lay-filter="jobEditSubmit" lay-submit>保存</button>
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
        </div>
    </form>
</script>
<body th:include="layout/common::javascript"></body>
<script type="text/javascript" data-th-inline="none">
    layui.use(['layer', 'element', 'form', 'table', 'util', 'admin', 'dropdown'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var element = layui.element;
        var form = layui.form;
        var table = layui.table;
        var admin = layui.admin;

        /* 渲染表格(任务) */
        var jobTb = table.render({
            elem: '#jobTable',
            url: '/job/page',
            page: true,
            toolbar: '#jobToolBar',
            cellMinWidth: 100,
            cols: [[
                {type: 'numbers'},
                {field: 'beanName', title: 'Bean名称'},
                {field: 'methodName', title: '方法名称'},
                {field: 'params', title: '方法参数'},
                {field: 'cronExpression', title: 'Cron表达式'},
                {
                    title: '任务状态', templet: function (d) {
                        return [
                            '<span class="layui-badge layui-badge-green">执行</span>',
                            '<span class="layui-badge layui-badge-red">暂停</span>'
                        ][d.status];
                    }
                },
                {field: 'remark', title: '备注'},
                {
                    title: '创建时间',
                    templet: '<p>{{layui.util.toDateString(d.createTime)}}</p>',
                    align: 'center',
                    sort: true
                },
                {title: '操作', toolbar: '#jobTool', align: 'center', minWidth: 200}
            ]]
        });

        /* 表格搜索 */
        form.on('submit(jobSearch)', function (data) {
            jobTb.reload({where: data.field, page: {curr: 1}});
            return false;
        });

        /* 表格工具条点击事件 */
        table.on('tool(jobTable)', function (obj) {
            if (obj.event === 'edit') { // 修改
                showEditModel(obj.data);
            } else if (obj.event === 'del') { // 删除
                doDel(obj.data.roleId);
            } else if (obj.event === 'run') {  // 执行任务
                doJob(obj.data.jobId, 'run', '执行任务')
            } else if (obj.event === 'pause') {  // 暂停任务
                doJob(obj.data.jobId, 'pause', '暂停任务')
            } else if (obj.event === 'resume') {  // 恢复任务
                doJob(obj.data.jobId, 'resume', '恢复任务')
            }
        });

        /* 表格头工具栏点击事件 */
        table.on('toolbar(jobTable)', function (obj) {
            if (obj.event === 'add') { // 添加
                showEditModel();
            }
        });

        /* 显示表单弹窗 */
        function showEditModel(mData) {
            admin.open({
                type: 1,
                area: '500px',
                title: (mData ? '修改' : '添加') + '任务',
                content: $('#jobEditDialog').html(),
                success: function (layero, dIndex) {
                    // 回显表单数据
                    form.val('jobEditForm', mData);
                    // 表单提交事件
                    form.on('submit(jobEditSubmit)', function (data) {
                        var loadIndex = layer.load(2);
                        admin.ajax({
                            url: mData ? '/job/update' : '/job/add',
                            type: 'post',
                            data: data.field,
                            success: function (res) {
                                layer.close(loadIndex);
                                if (200 === res.code) {
                                    layer.close(dIndex);
                                    layer.msg(res.msg, {icon: 1});
                                    jobTb.reload({page: {curr: 1}});
                                } else {
                                    layer.msg(res.msg, {icon: 2});
                                }
                            }
                        });
                        return false;
                    });
                    $(layero).find('.layui-form-label').css('width', '90px');
                    $(layero).find('.layui-input-block').css('margin-left', '120px');
                }
            });
        }

        /* 操作任务 */
        function doJob(jobId, event, title) {
            layer.confirm('确定要' + title + '吗？', {
                skin: 'layui-layer-admin',
                shade: .1
            }, function (i) {
                layer.close(i);
                var loadIndex = layer.load(2);
                admin.ajax({
                    url: '/job/' + event + '/' + jobId,
                    type: 'get',
                    success: function (res) {
                        layer.close(loadIndex);
                        if (200 === res.code) {
                            layer.msg(res.msg, {icon: 1});
                            jobTb.reload({page: {curr: 1}});
                        } else {
                            layer.msg(res.msg, {icon: 2});
                        }
                    }
                });
            });
        }

        /* 删除 */
        function doDel(roleId) {
            layer.confirm('确定要删除选中数据吗？', {
                skin: 'layui-layer-admin',
                shade: .1
            }, function (i) {
                layer.close(i);
                var loadIndex = layer.load(2);
                admin.ajax({
                    url: '/role/delete',
                    type: 'post',
                    data: {id: roleId},
                    success: function (res) {
                        layer.close(loadIndex);
                        if (200 === res.code) {
                            layer.msg(res.msg, {icon: 1});
                            jobTb.reload({page: {curr: 1}});
                        } else {
                            layer.msg(res.msg, {icon: 2});
                        }
                    }
                });
            });
        }

        /* 渲染表格(日志) */
        var logTb = table.render({
            elem: '#jobLogTable',
            url: '/job/log/page',
            page: true,
            cellMinWidth: 100,
            cols: [[
                {type: 'numbers'},
                {field: 'beanName', title: 'Bean名称'},
                {field: 'methodName', title: '方法名称'},
                {field: 'params', title: '方法参数'},
                {
                    field: 'times',
                    title: '耗时',
                    templet: '<p><span class="layui-badge layui-badge-green">{{d.times}}ms</span></p>'
                },
                {
                    title: '调度状态', templet: function (d) {
                        return [
                            '<span class="layui-badge layui-badge-green">成功</span>',
                            '<span class="layui-badge layui-badge-red">失败</span>'
                        ][d.status];
                    }
                },
                {field: 'error', title: '错误信息'},
                {
                    title: '创建时间',
                    templet: '<p>{{layui.util.toDateString(d.createTime)}}</p>',
                    align: 'center',
                    sort: true
                }
            ]]
        });

        /* 表格搜索 */
        form.on('submit(jobLogSearch)', function (data) {
            logTb.reload({where: data.field, page: {curr: 1}});
            return false;
        });

        /* 切换时重置表格尺寸 */
        element.on('tab(tableTab)', function (data) {
            var tableIds = ['jobTable', 'jobLogTable'];
            table.resize(tableIds[data.index]);
        });
    });
</script>
</body>
</html>