<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>调度日志</title>
    <head th:include="layout/common::head"></head>
</head>
<body>
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <!-- 表格工具栏 -->
            <form class="layui-form toolbar" autocomplete="off">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">Bean 名称:</label>
                        <div class="layui-input-inline">
                            <input name="roleName" class="layui-input" placeholder="输入Bean名称"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">方法名称:</label>
                        <div class="layui-input-inline">
                            <input name="roleCode" class="layui-input" placeholder="输入方法名称"/>
                        </div>
                    </div>
                    <div class="layui-inline">&emsp;
                        <button class="layui-btn icon-btn" lay-filter="roleSearch" lay-submit>
                            <i class="layui-icon">&#xe615;</i>搜索
                        </button>
                    </div>
                </div>
            </form>
            <!-- 数据表格 -->
            <table id="jobTable" lay-filter="jobTable"></table>
        </div>
    </div>
</div>
<body th:include="layout/common::javascript"></body>
<script type="text/javascript" data-th-inline="none">
    layui.use(['form', 'table', 'util'], function () {
        var form = layui.form;
        var table = layui.table;

        /* 渲染表格 */
        var insTb = table.render({
            elem: '#jobTable',
            url: '/job/log/page',
            page: true,
            cellMinWidth: 100,
            cols: [[
                {type: 'numbers'},
                {field: 'beanName', title: 'Bean名称'},
                {field: 'methodName', title: '方法名称'},
                {field: 'params', title: '方法参数'},
                {
                    field: 'times',
                    title: '耗时',
                    templet: '<p><span class="layui-badge layui-badge-green">{{d.times}}ms</span></p>'
                },
                {
                    title: '调度状态', templet: function (d) {
                        return [
                            '<span class="layui-badge layui-badge-green">成功</span>',
                            '<span class="layui-badge layui-badge-red">失败</span>'
                        ][d.status];
                    }
                },
                {field: 'error', title: '错误信息'},
                {
                    title: '创建时间',
                    templet: '<p>{{layui.util.toDateString(d.createTime)}}</p>',
                    align: 'center',
                    sort: true
                }
            ]]
        });

        /* 表格搜索 */
        form.on('submit(jobSearch)', function (data) {
            insTb.reload({where: data.field, page: {curr: 1}});
            return false;
        });
    });
</script>
</body>
</html>