<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>调度日志</title>
    <head th:include="layout/common::head"></head>
</head>
<body>
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <!-- 表格工具栏 -->
            <form class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">Bean 名称:</label>
                        <div class="layui-input-inline">
                            <input name="roleName" class="layui-input" placeholder="输入Bean名称"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">方法名称:</label>
                        <div class="layui-input-inline">
                            <input name="roleCode" class="layui-input" placeholder="输入方法名称"/>
                        </div>
                    </div>
                    <div class="layui-inline">&emsp;
                        <button class="layui-btn icon-btn" lay-filter="role-search" lay-submit>
                            <i class="layui-icon">&#xe615;</i>搜索
                        </button>
                    </div>
                </div>
            </form>
            <!-- 数据表格 -->
            <table id="job-table" lay-filter="job-table"></table>
        </div>
    </div>
</div>
<!-- 表格工具栏 -->
<script type="text/html" id="job-tool-bar">
    <button lay-event="add" class="layui-btn layui-btn-sm icon-btn">
        <i class="layui-icon">&#xe654;</i>添加
    </button>
</script>
<!-- 表单弹窗 -->
<script type="text/html" id="job-edit-dialog">
    <form id="job-edit-form" lay-filter="job-edit-form" class="layui-form model-form">
        <input name="jobId" type="hidden"/>
        <input name="status" type="hidden"/>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">Bean名称:</label>
            <div class="layui-input-block">
                <input name="beanName" placeholder="请输入Bean名称" class="layui-input"
                       lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">方法名称:</label>
            <div class="layui-input-block">
                <input name="methodName" placeholder="请输入方法名称" class="layui-input"
                       lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">方法参数:</label>
            <div class="layui-input-block">
                <input name="params" placeholder="请输入方法参数" class="layui-input"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">Cron表达式:</label>
            <div class="layui-input-block">
                <input name="cronExpression" placeholder="请输入Cron表达式" class="layui-input"
                       lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">任务备注:</label>
            <div class="layui-input-block">
                <textarea name="remark" placeholder="请输入任务备注" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item text-right">
            <button class="layui-btn" lay-filter="job-edit-submit" lay-submit>保存</button>
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
        </div>
    </form>
</script>
<body th:include="layout/common::javascript"></body>
<script type="text/javascript" data-th-inline="none">
    layui.use(['layer', 'form', 'table', 'util', 'admin', 'dropdown'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;

        /* 渲染表格 */
        var insTb = table.render({
            elem: '#job-table',
            url: '/job/log/page',
            page: true,
            toolbar: '#job-tool-bar',
            cellMinWidth: 100,
            cols: [[
                {type: 'numbers'},
                {field: 'beanName', title: 'Bean名称'},
                {field: 'methodName', title: '方法名称'},
                {field: 'params', title: '方法参数'},
                {
                    field: 'times',
                    title: '耗时',
                    templet: '<p><span class="layui-badge layui-badge-green">{{d.times}}ms</span></p>'
                },
                {
                    title: '调度状态', templet: function (d) {
                        return [
                            '<span class="layui-badge layui-badge-green">成功</span>',
                            '<span class="layui-badge layui-badge-red">失败</span>'
                        ][d.status];
                    }
                },
                {field: 'error', title: '错误信息'},
                {
                    title: '创建时间',
                    templet: '<p>{{layui.util.toDateString(d.createTime)}}</p>',
                    align: 'center',
                    sort: true
                }
            ]]
        });

        /* 表格搜索 */
        form.on('submit(job-search)', function (data) {
            insTb.reload({where: data.field, page: {curr: 1}});
            return false;
        });
    });
</script>
</body>
</html>