<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>操作日志</title>
    <head th:include="layout/common::head"></head>
</head>
<body>
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <!-- 表格工具栏 -->
            <form class="layui-form toolbar" autocomplete="off">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">操作用户:</label>
                        <div class="layui-input-inline">
                            <input name="operator" class="layui-input" placeholder="输入操作用户"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">操作时间:</label>
                        <div class="layui-input-inline">
                            <input name="dateRange" class="layui-input icon-date" placeholder="选择日期范围"/>
                        </div>
                    </div>
                    <div class="layui-inline">&emsp;
                        <button class="layui-btn icon-btn" lay-filter="logSearch" lay-submit>
                            <i class="layui-icon">&#xe615;</i>搜索
                        </button>
                    </div>
                </div>
            </form>
            <!-- 数据表格 -->
            <table id="logTable" lay-filter="logTable"></table>
        </div>
    </div>
</div>
<body th:include="layout/common::javascript"></body>
<script type="text/javascript" data-th-inline="none">
    layui.use(['form', 'table', 'util', 'laydate'], function () {
        var form = layui.form;
        var table = layui.table;
        var laydate = layui.laydate;

        /* 渲染表格 */
        var insTb = table.render({
            elem: '#logTable',
            url: '/log/page',
            page: true,
            cellMinWidth: 100,
            cols: [[
                {type: 'numbers'},
                {field: 'ipAddress', title: 'IP'},
                {field: 'operator', title: '操作用户'},
                {field: 'operation', title: '操作内容'},
                {
                    title: '耗时',
                    templet: '<p><span class="layui-badge layui-badge-green">{{d.time}} ms</span></p>',
                    sort: true
                },
                {field: 'method', title: '方法'},
                {field: 'params', title: '参数'},
                {
                    title: '操作时间',
                    templet: '<p>{{layui.util.toDateString(d.createTime)}}</p>',
                    align: 'center',
                    sort: true
                }
            ]]
        });

        /* 渲染时间选择 */
        laydate.render({
            elem: 'input[name="dateRange"]',
            type: 'date',
            range: true,
            trigger: 'click'
        });

        /* 表格搜索 */
        form.on('submit(logSearch)', function (data) {
            data.field.startDate = null;
            data.field.endDate = null;
            var searchDate = data.field.dateRange.split(' - ');
            if (searchDate.length > 0) {
                data.field.startDate = searchDate[0] + ' 00:00:00';
                data.field.endDate = searchDate[1] + ' 23:59:59';
            }
            insTb.reload({where: data.field, page: {curr: 1}});
            return false;
        });
    });
</script>
</body>
</html>