<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>菜单管理</title>
    <head th:include="layout/common::head"></head>
</head>
<body>
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <!-- 表格工具栏 -->
            <form class="layui-form toolbar" autocomplete="off">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">关键字:</label>
                        <div class="layui-input-inline">
                            <input name="keyword" class="layui-input" placeholder="输入关键字"/>
                        </div>
                    </div>
                    <div class="layui-inline">&emsp;
                        <button class="layui-btn icon-btn" lay-filter="menuSearch" lay-submit>
                            <i class="layui-icon">&#xe615;</i>搜索
                        </button>
                        <button class="layui-btn icon-btn" id="btnExpandAll">
                            <i class="layui-icon">&#xe625;</i>全部展开
                        </button>
                        <button class="layui-btn icon-btn" id="btnFoldAll">
                            <i class="layui-icon">&#xe623;</i>全部折叠
                        </button>
                    </div>
                </div>
            </form>
            <!-- 数据表格 -->
            <table id="menuTable"></table>
        </div>
    </div>
</div>
<!-- 表格操作列 -->
<script type="text/html" id="menuTool">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
</script>

<script type="text/html" id="menuToolBar">
    <a class="layui-btn layui-btn-sm icon-btn" lay-event="add"><i class="layui-icon">&#xe654;</i>添加</a>
    <a class="layui-btn layui-btn-sm layui-btn-danger icon-btn" lay-event="del"><i class="layui-icon">&#xe640;</i>删除</a>
</script>
<!-- 表单弹窗 -->
<script type="text/html" id="menuEditDialog">
    <form id="menuEditForm" lay-filter="menuEditForm" class="layui-form model-form"
          style="padding-right: 20px;" autocomplete="off">
        <div class="layui-row">
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">上级菜单</label>
                    <div class="layui-input-block">
                        <div id="menuParentSelect" class="ew-xmselect-tree"></div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">权限名称:</label>
                    <div class="layui-input-block">
                        <input name="name" placeholder="请输入权限名称" class="layui-input"
                               lay-verType="tips" lay-verify="required" required/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">权限类型:</label>
                    <div class="layui-input-block">
                        <input name="type" type="radio" value="0" title="菜单" checked="checked"/>
                        <input name="type" type="radio" value="1" title="按钮"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">菜单url:</label>
                    <div class="layui-input-block">
                        <input name="url" placeholder="请输入菜单url" class="layui-input"/>
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">菜单编号:</label>
                    <div class="layui-input-block">
                        <input name="menuId" placeholder="请输入菜单编号" class="layui-input"
                               lay-verType="tips" lay-verify="required" required/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">权限标识:</label>
                    <div class="layui-input-block">
                        <input name="perms" placeholder="请输入权限标识" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">菜单图标:</label>
                    <div class="layui-input-block">
                        <input name="icon" placeholder="请输入菜单图标" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">排序号:</label>
                    <div class="layui-input-block">
                        <input name="sort" placeholder="请输入排序号" type="number" class="layui-input"
                               lay-verType="tips" lay-verify="required|number" required/>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item text-right">
            <button class="layui-btn" lay-filter="menuEditSubmit" lay-submit>保存</button>
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
        </div>
    </form>
</script>
<body th:include="layout/common::javascript"></body>
<script type="text/javascript">
    layui.use(['layer', 'form', 'admin', 'treeTable', 'util', 'xmSelect'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var admin = layui.admin;
        var treeTable = layui.treeTable;
        var xmSelect = layui.xmSelect;
        var tbDataList = [];

        // 渲染表格
        var insTb = treeTable.render({
            elem: '#menuTable',
            url: '/menu/list',
            toolbar: '#menuToolBar',
            tree: {
                iconIndex: 2,
                idName: 'menuId',
                pidName: 'parentId',
                isPidData: true
            },
            cols: [
                {type: 'checkbox', fixed: 'left'},
                {type: 'numbers'},
                {field: 'name', title: '菜单名称', width: 300},
                {field: 'url', title: '菜单url'},
                {field: 'perms', title: '权限标识'},
                {title: '菜单图标', templet: '<p><i class="{{d.icon}}"></i></p>', align: 'center', width: 100},
                {field: 'sort', title: '排序号', align: 'center', width: 80},
                {
                    title: '类型', templet: function (d) {
                        return [
                            '<span class="layui-badge layui-badge-green">菜单</span>',
                            '<span class="layui-badge layui-badge-gray">按钮</span>'
                        ][d.type];
                    }, align: 'center', width: 80
                },
                {
                    title: '创建时间', templet: '<p>{{layui.util.toDateString(d.createTime)}}</p>', align: 'center'
                },
                {title: '操作', templet: '#menuTool', align: 'center', width: 120}
            ],
            done: function (data) {
                tbDataList = data;
            }
        });

        /* 表格操作列点击事件 */
        treeTable.on('tool(menuTable)', function (obj) {
            if (obj.event === 'edit') { // 修改
                showEditModel(obj.data);
            }
        });

        /* 表格头工具栏点击事件 */
        treeTable.on('toolbar(menuTable)', function (obj) {
            if (obj.event === 'add') { // 添加
                showEditModel();
            } else if (obj.event === 'del') { // 删除
                var checkRows = insTb.checkStatus();
                if (checkRows.length === 0) {
                    layer.msg('请选择要删除的数据', {icon: 2});
                    return;
                }
                var ids = checkRows.map(function (d) {
                    return d.isIndeterminate ? -1 : d.menuId;
                });
                doDel({ids: ids});
            }
        });

        /* 表格搜索 */
        form.on('submit(menuSearch)', function (data) {
            insTb.clearFilter();
            if (data.field.keyword) {
                insTb.filterData(data.field.keyword);
            }
            return false;
        });

        /* 全部展开 */
        $('#btnExpandAll').click(function () {
            insTb.expandAll();
            return false;
        });

        /* 全部折叠 */
        $('#btnFoldAll').click(function () {
            insTb.foldAll();
            return false;
        });

        /* 显示表单弹窗 */
        function showEditModel(mData) {
            admin.open({
                type: 1,
                area: '600px',
                title: (mData ? '修改' : '添加') + '菜单',
                content: $('#menuEditDialog').html(),
                success: function (layero, dIndex) {
                    // 回显表单数据
                    form.val('menuEditForm', mData);
                    // 表单提交事件
                    form.on('submit(menuEditSubmit)', function (data) {
                        data.field.parentId = insXmSel.getValue('valueStr');
                        var loadIndex = layer.load(2);
                        admin.ajax({
                            url: mData ? '/menu/update' : '/menu/add',
                            type: 'post',
                            data: data.field,
                            success: function (res) {
                                layer.close(loadIndex);
                                if (res.code === 200) {
                                    layer.close(dIndex);
                                    layer.msg(res.msg, {icon: 1});
                                    insTb.refresh();
                                } else {
                                    layer.msg(res.msg, {icon: 2});
                                }
                            }
                        });
                        return false;
                    });
                    // 渲染下拉树
                    var insXmSel = xmSelect.render({
                        el: '#menuParentSelect',
                        height: '250px',
                        data: insTb.options.data,
                        initValue: mData ? [mData.parentId] : [],
                        model: {label: {type: 'text'}},
                        template(item) {
                            return item.name + '<span style="position: absolute; right: 10px; color: #8799a3">' + item.value + '</span>'
                        },
                        prop: {
                            name: 'name',
                            value: 'menuId'
                        },
                        radio: true,
                        clickClose: true,
                        tree: {
                            show: true,
                            indent: 15,
                            strict: false,
                            expandedKeys: true
                        }
                    });
                    // 弹窗不出现滚动条
                    $(layero).children('.layui-layer-content').css('overflow', 'visible');
                }
            });
        }

        /* 删除 */
        function doDel(obj) {
            layer.confirm('确定要删除选中数据吗？', {
                skin: 'layui-layer-admin',
                shade: .1
            }, function (i) {
                layer.close(i);
                var loadIndex = layer.load(2);
                admin.ajax({
                    url: '/menu/delete',
                    type: 'post',
                    data: {id: obj.ids},
                    success: function (res) {
                        layer.close(loadIndex);
                        if (res.code === 200) {
                            layer.msg(res.msg, {icon: 1});
                            insTb.refresh();
                        } else {
                            layer.msg(res.msg, {icon: 2});
                        }
                    }
                });
            });
        }
    });
</script>
</body>
</html>