<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Easy后台管理系统</title>
    <head th:include="layout/common::head"></head>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!-- 头部 -->
    <div class="layui-header">
        <div class="layui-logo">
            <img src="/assets/images/logo.png"/>
            <cite th:text="${'&nbsp;'+@environment.getProperty('app.system').toUpperCase()}"></cite>
        </div>
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item" lay-unselect>
                <a ew-event="flexible" title="侧边伸缩"><i class="layui-icon layui-icon-shrink-right"></i></a>
            </li>
            <li class="layui-nav-item" lay-unselect>
                <a ew-event="refresh" title="刷新"><i class="layui-icon layui-icon-refresh-3"></i></a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item" lay-unselect>
                <a ew-event="note" title="便签"><i class="layui-icon layui-icon-note"></i></a>
            </li>
            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a ew-event="fullScreen" title="全屏"><i class="layui-icon layui-icon-screen-full"></i></a>
            </li>
            <li class="layui-nav-item" lay-unselect>
                <a>
                    <img th:src="${'/assets/images/avatar/'+User.getAvatar()}" class="layui-nav-img">
                    <cite th:text="${User.getNickName().toUpperCase()}"></cite>
                </a>
                <dl class="layui-nav-child">
                    <dd lay-unselect>
                        <a ew-href="/user/info">个人中心</a>
                    </dd>
                    <dd lay-unselect>
                        <a ew-event="psw">修改密码</a>
                    </dd>
                    <hr>
                    <dd lay-unselect>
                        <a ew-event="logout" data-url="/logout">退出</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item" lay-unselect>
                <a ew-event="theme" title="主题"><i class="layui-icon layui-icon-more-vertical"></i></a>
            </li>
        </ul>
    </div>
    <!-- 侧边栏 -->
    <div class="layui-side">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" lay-filter="admin-side-nav" style="margin: 15px 0;">
            </ul>
        </div>
    </div>
    <!-- 主体部分 -->
    <div class="layui-body"></div>
    <!-- 底部 -->
    <div class="layui-footer layui-text">
        copyright © 2020
        <a target="_blank" th:href="${@environment.getProperty('app.website')}"
           th:text="${@environment.getProperty('app.website')}"></a> all rights reserved.
        <span class="pull-right" th:text="${'Version '+@environment.getProperty('app.version')}"></span>
    </div>
</div>
<!-- 侧边栏渲染模板 -->
<script id="sideNav" type="text/html">
    {{# layui.each(d, function(index, item) { }}
    <li class="layui-nav-item">
        <a lay-href="{{item.url}}">
            <i class="{{item.icon}}"></i>&emsp;<cite>{{ item.name }}</cite>
        </a>
        {{# if(item.subMenus&&item.subMenus.length>0) { getSubMenus(item.subMenus); } }}
    </li>
    {{# }); }}
    {{# function getSubMenus(subMenus){ }}
    <dl class="layui-nav-child">
        {{# layui.each(subMenus, function(index, subItem) { }}
        <dd>
            <a lay-href="{{ subItem.url }}">{{ subItem.name }}</a>
            {{# if(subItem.subMenus&&subItem.subMenus.length > 0) { getSubMenus(subItem.subMenus); } }}
        </dd>
        {{# }); }}
    </dl>
    {{# } }}
</script>
<body th:include="layout/common::javascript"></body>
<script type="text/javascript" data-th-inline="javascript">
    layui.use(['admin', 'index', 'laytpl', 'element'], function () {
        var $ = layui.jquery;
        var admin = layui.admin;
        var index = layui.index;
        var laytpl = layui.laytpl;
        var element = layui.element;
        var user = [[${User}]];

        // ajax 渲染侧边栏
        admin.ajax({
            url: '/menu/' + user.loginName,
            type: 'get',
            success: function (res) {
                if (res.code === 200) {
                    laytpl(sideNav.innerHTML).render(res.data, function (html) {
                        $('*[lay-filter=admin-side-nav]').html(html);
                        element.render('nav');
                    });

                    // 默认加载主页
                    index.loadHome({
                        menuPath: 'welcome',
                        menuName: '<i class="layui-icon layui-icon-home"></i>'
                    });
                } else {
                    console.error(res.msg);
                }
            }
        });
    });
</script>
</body>
</html>