<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script>if (window !== top) top.location.replace(location.href);</script>
    <title>用户登录</title>
    <head th:include="layout/common::head"></head>
    <link rel="stylesheet" href="/assets/css/login.css">
</head>
<body>
<div class="login-wrapper layui-anim layui-anim-scale layui-hide">
    <form class="layui-form">
        <h2>用户登录</h2>
        <div class="layui-form-item layui-input-icon-group">
            <i class="layui-icon layui-icon-username"></i>
            <input class="layui-input" name="loginName" placeholder="请输入登录账号" autocomplete="off"
                   lay-verType="tips" lay-verify="required" required/>
        </div>
        <div class="layui-form-item layui-input-icon-group">
            <i class="layui-icon layui-icon-password"></i>
            <input class="layui-input" name="password" placeholder="请输入登录密码" type="password"
                   lay-verType="tips" lay-verify="required" required/>
        </div>
        <div class="layui-form-item layui-input-icon-group login-captcha-group">
            <i class="layui-icon layui-icon-auz"></i>
            <input class="layui-input" name="verifyCode" placeholder="请输入验证码" autocomplete="off"
                   lay-verType="tips" lay-verify="required" required/>
            <img class="login-captcha" alt="验证码"/>
        </div>
        <div class="layui-form-item">
            <input type="checkbox" name="rememberMe" title="记住密码" lay-skin="primary" checked>
        </div>
        <div class="layui-form-item">
            <button class="layui-btn layui-btn-fluid" lay-filter="login-submit" lay-submit>登录</button>
        </div>
    </form>
</div>
<div class="login-copyright" th:text="${'&copy; 2020 '+@environment.getProperty('app.website')}"></div>
<body th:include="layout/common::javascript"></body>
<script>
    layui.use(['layer', 'form'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        $('.login-wrapper').removeClass('layui-hide');

        /* 表单提交 */
        form.on('submit(login-submit)', function (obj) {
            var loadIndex = layer.load(2);
            $.post('/login', obj.field, function (res) {
                layer.close(loadIndex);
                if (res.code === 200) {
                    layer.msg('登录成功', {icon: 1, time: 1500, shade: .3}, function () {
                        location.replace('/index');
                    });
                } else {
                    layer.msg(res.msg, {icon: 2, time: 1500, shade: .3}, function () {
                        $('img.login-captcha').click();
                    });
                }
            }, 'json');
            return false;
        });

        /* 图形验证码 */
        $('img.login-captcha').click(function () {
            this.src = '/images/captcha?t=' + (new Date).getTime();
        }).trigger('click');
    });
</script>
</body>
</html>